

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

# next.js
/.next/
/out/

# production
/build

# Large data files / context
*.xlsx
public/contexto/
.firebase/